name: Flights schedule

on:
  schedule:
  - cron: "*/30 * * * *"

  workflow_dispatch:

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set timezone
      uses: szenius/set-timezone@v1.0
      with: 
        timezoneLinux: "Asia/Yerevan"
  
      
    - name: setup R version
      uses: r-lib/actions/setup-r@v2
        
    - name: Install packages
      uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 2
        packages: |
          any::shiny
          any::httr2
          any::dplyr
          any::DBI
          any::gt
          any::duckdb
    
    - name: Check out repository
      uses: actions/checkout@v3
      
    - name: Run App
      run: Rscript -e 'source("app.R")'
  
    - name: Commit results
      run: |
          git config --local user.email "vlastrunov@gmail.com"
          git config --local user.name "VlasTru"
          git add --all
          git commit -m 'Fetching flights' || echo "another portion"
          git push origin || echo "No changes to commit"
          
