name: Flights schedule

on:
  schedule:
  - cron: "*/10 * * * *"

  workflow_dispatch:

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set timezone
      uses: szenius/set-timezone@v1.0
      with: 
        timezoneLinux: "Asia/Yerevan"
      
    - name: setup R version
      uses: r-lib/actions/setup-r@v2
        
        
    - name: Install packages
      uses: r-lib/actions/setup-r-dependencies@v2

    - name: Run App
      run: Rscript -e 'source(here::here('app.R'))' 
    
    - name: Check out repository
      uses: actions/checkout@v3
  
    - name: Commit results
      run: |
          git config --local user.email "vlastrunov@gmail.com"
          git config --local user.name "VlasTru"
          git add --all
          git commit -m 'Fetching flights' || echo "another portion"
          git push origin || echo "No changes to commit"
          
